<a href="https://colab.research.google.com/github/imazfar/Cars-Data-Analysis/blob/main/Cars_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cars Data Analysis

In [88]:
import pandas as pd

In [89]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [90]:
df=pd.read_csv('/content/drive/MyDrive/MY Projects/Car_Analysis_Project/Cars_Data.csv')

##Data Cleaning

In [91]:
df.head(100)

        Make                     Model   Type  ... Weight Wheelbase Length
0      Acura                       MDX    SUV  ...   4451       106    189
1      Acura            RSX Type S 2dr  Sedan  ...   2778       101    172
2      Acura                   TSX 4dr  Sedan  ...   3230       105    183
3      Acura                    TL 4dr  Sedan  ...   3575       108    186
4      Acura                3.5 RL 4dr  Sedan  ...   3880       115    197
..       ...                       ...    ...  ...    ...       ...    ...
95  Chrysler           Concorde LX 4dr  Sedan  ...   3479       113    208
96  Chrysler          Concorde LXi 4dr  Sedan  ...   3548       113    208
97  Chrysler         PT Cruiser GT 4dr  Sedan  ...   3217       103    169
98  Chrysler   Sebring convertible 2dr  Sedan  ...   3357       106    194
99  Chrysler  300M Special Edition 4dr  Sedan  ...   3650       113    198

[100 rows x 15 columns]

In [92]:
df.shape

(428, 15)

##Finding all the Null Values in the dataset. If there is any Null Values in any column, will fill it with the mean of that column

In [93]:
df.head()

    Make           Model   Type Origin  ... MPG_Highway Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...          23   4451       106     189
1  Acura  RSX Type S 2dr  Sedan   Asia  ...          31   2778       101     172
2  Acura         TSX 4dr  Sedan   Asia  ...          29   3230       105     183
3  Acura          TL 4dr  Sedan   Asia  ...          28   3575       108     186
4  Acura      3.5 RL 4dr  Sedan   Asia  ...          24   3880       115     197

[5 rows x 15 columns]

In [97]:
df.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [96]:
df['Cylinders'].fillna(df['Cylinders'].mean(),inplace=True)